<div class="matrix-container" cdkDropListGroup>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style.background="blue">
      <div class="div-hauptcontainer">

        <div class="div-container1">
          <h2 class="matrixText">Strength</h2>
        </div>

        <div class="div-container2">
          <div cdkDropList #strengthList="cdkDropList" [cdkDropListData]="strength" 
            class="matrix-list" (cdkDropListDropped)="drop($event)">
            <div class="matrix-box" *ngFor="let item of strength" cdkDrag>{{item}}</div>
          </div>
        </div>

      </div>



    </mat-grid-tile>
    <mat-grid-tile style.background="yellow">
      <div class="div-hauptcontainer">
        <div class="div-container1">
          <h2 class="matrixText">Weakness</h2>
        </div>

        <div class="div-container2">
          <div cdkDropList #weaknessList="cdkDropList" [cdkDropListData]="weakness" 
            class="matrix-list" (cdkDropListDropped)="drop($event)">
            <div class="matrix-box" *ngFor="let item of weakness" cdkDrag>{{item}}</div>
          </div>
        </div>

      </div>


    </mat-grid-tile>
    <mat-grid-tile style.background="green">

        <div class="div-hauptcontainer">

            <div class="div-container1">
              <h2 class="matrixText">Chance</h2>
            </div>
    
            <div class="div-container2">
                <div cdkDropList #chanceList="cdkDropList" [cdkDropListData]="chance" 
                class="matrix-list" (cdkDropListDropped)="drop($event)">
                <div class="matrix-box" *ngFor="let item of chance" cdkDrag>{{item}}</div>
              </div>
            </div>
    
          </div>

    
      
    </mat-grid-tile>


    <mat-grid-tile style.background="red">

        <div class="div-hauptcontainer">

            <div class="div-container1">
              <h2 class="matrixText">Risk</h2>
            </div>
    
            <div class="div-container2">
                <div cdkDropList #riskList="cdkDropList" [cdkDropListData]="risk"  class="matrix-list"
                (cdkDropListDropped)="drop($event)">
                <div class="matrix-box" *ngFor="let item of risk" cdkDrag>{{item}}</div>
              </div>
            </div>
    
          </div>
 
     
    </mat-grid-tile>
  </mat-grid-list>
</div>